@font-face {
    font-family: "Roboto";
    src:
        local("Roboto"),
        url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto"),
        url("../fonts/Roboto-Italic.woff2") format("woff2"),
        url("../fonts/Roboto-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto"),
        url("../fonts/Roboto-Light.woff2") format("woff2"),
        url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto"),
        url("../fonts/Roboto-LightItalic.woff2") format("woff2"),
        url("../fonts/Roboto-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .Field:nth-child(3n) {
        border-right: none;
    }
    
    .Field:nth-child(3n + 1) {
        border-left: none;
    }
    
    .Field:nth-child(n + 7) {
        border-bottom: none;
    }
    
    .Field:nth-child(-n + 3) {
        border-top: none;
    }

    .grid-element {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
    }
}

* {
    background-color: transparent;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}